body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    border-style: double;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(133, 133, 133);
}
.crud{
    text-align: center;
    border-style: groove;
    width: 45vw;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
#adiciona{
    width: 100%;
    height: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
}
#logar{
    width: 100%;
    height: 25px;
    background-color: rgb(30, 255, 0);
    border-radius: 15px;
}
#edit{
    width: 100%;
    height: 25px;
    background-color: rgb(0, 255, 242);
    border-radius: 15px;
}
#delete{
    width: 100%;
    height: 25px;
    background-color: rgb(229, 255, 0);
    border-radius: 15px;
}
input{
    width: 200px;
    height: 20px;
    border-radius: 15px;
}